<nav class="navbar navbar-expand-lg bg-body-tertiary ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/movies "
            >Movies</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            href="/genre"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Genres
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/movies/genre/action">Action</a></li>
            <li><a class="dropdown-item" href="/movies/genre/sci-fi">Sci-Fi</a></li>
            <li><a class="dropdown-item" href="/movies/genre/horror">Horror</a></li>
            <li><a class="dropdown-item" href="/movies/genre/fantasy">Fantasy</a></li>
            <li><a class="dropdown-item" href="/movies/genre/romance">Romance</a></li>
            <li><a class="dropdown-item" href="/movies/genre/non-fiction">Non-Fiction</a></li>
            <li><a class="dropdown-item" href="/movies/genre/thriller">Thriller</a></li>
            <li><a class="dropdown-item" href="/movies/genre/drama">Drama</a></li>
            <li><a class="dropdown-item" href="/movies/genre/comedy">Comedy</a></li>
          </ul>
        </li>
        <% if(user) { %>
        <li class="nav-item">
          <a class="nav-link" href="/movies/new">Add a Movie</a>
        </li>
        <% } %> 

        <% if(user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log Out</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up</a>
          </li>
        <% } %>
        
      </ul>
      <form action="/movies/search" method="get" class="d-flex" role="search">
        <input
          class="form-control me-2"
          name="word"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<% if(successMessage && successMessage>0) { %>
<div class="alert alert-warning" role="alert">
  <%= successMessage %>
</div>
<% } %>

<% if(errorMessage && errorMessage>0) { %>
<div class="alert alert-warning" role="alert">
  <%= errorMessage %>
</div>
<% } %>

