<%- include("partials/header") %>

    <link rel="stylesheet" href="styles.css">
    <div class="container-fluid landing-container d-flex align-items-center justify-content-center">
        <div class="overlay text-center p-5 rounded">
            <h1 class="mb-4 h-lan">Welcome to MovieHub</h1>
            <p class="mb-5 p-lan">Stream your favorite movies now</p>
            <div class="d-flex justify-content-center gap-3">
                <a href="/movies" id="enterBtn" class="btn btn-primary btn-lan btn-lg">Enter</a>
                <button id="loginBtn" class="btn btn-outline-light btn-lan-log btn-lg">Login</button>
                <button id="signupBtn" class="btn btn-outline-light btn-lan-log btn-lg">Sign Up</button>
            </div>
        </div>
    </div>

    <!-- Custom JS -->
    <script src="script.js"></script>


<%- include("partials/footer") %>
