<!-- <%- include("partials/header") %>

<h1>
    LOGIN!
</h1>

<form action="/login" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Login</button>
</form>
-->


<%- include("partials/header") %> 

<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <title>Login Page </title>
    </head>
    
<body>
    <div class="body-lo">

        <div class="containerLo" id="containerLogin">
            <div class="form-containerLo sign-up">
                <form action="/signup" method="post">
                    <h1>Create Account</h1>
                    <input type="text" name="username" placeholder="Username">
                    <input type="email" name="email" placeholder="Email address">
                    <input type="password" name="password" placeholder="Password">
                    <button type="submit">Sign Up</button>
                </form>
            </div>
            <div class="form-containerLo sign-in">
                <form action="/login" method="post">
                    <h1>Sign In</h1>
                    <input type="text" name="username" placeholder="UserName">
                    <input type="password" name="password" placeholder="Password">
                    <a href="#">Forget Your Password?</a>
                    <button> Login</button>
                </form>
            </div>
            <div class="toggle-containerLo">
                <div class="toggle">
                    <div class="toggle-panel toggle-left">
                        <h1>Welcome Back!</h1>
                        <p>Enter your personal details to use all of site features</p>
                        <button class="hidden" id="login">Sign In</button>
                    </div>
                    <div class="toggle-panel toggle-right">
                        <h1>Hello, Friend!</h1>
                        <p>Register with your personal details to use all of site features</p>
                        <button class="hidden" id="register">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


<%- include("partials/footer") %>