<%- include('partials/header') %>
<div class="container">
  <h1>Add New Movie</h1>
  <form action="/movies" method="post">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        name="title"
        placeholder="eg. Avengers"
        autofocus
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input type="text" class="form-control" name="description" />
    </div>
    <div class="mb-3">
      <label for="director" class="form-label">Director</label>
      <input type="text" class="form-control" name="director" />
    </div>
    <div class="mb-3">
      <label for="genre" class="form-label">Genre</label>
      <select class="form-control" name="genre" id="genre" required>
        <option disabled selected>-- Choose Below --</option>
        <option value="action">Action</option>
        <option value="horror">Horror</option>
        <option value="fantasy">Fantasy</option>
        <option value="romance">Romance</option>
        <option value="thriller">Thriller</option>
        <option value="drama">Drama</option>
        <option value="comedy">Comedy</option>
        <option value="non-fiction">Non-Fiction</option>
        <option value="sci-fi">Sci-Fi</option>
      </select>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" name="color" />
        <label for="color" class="form-label">Color?</label>
    </div>
    <div class="mb-3">
      <label for="date" class="form-label">Date</label>
      <input type="date" class="form-control" name="date" />
    </div>
    <div class="mb-3">
      <label class="form-check-label" for="image">Link to image</label>
      <input type="text" class="form-control" name="image" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<%- include('partials/footer') %>
