body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
}
.navbar-lo{
    background-color:rgb(126, 195, 228);
}
.navbar-li a{
    color: #2d0c42;
}

.card{
    background-color: rgb(126, 195, 228);
    color: #2d0c42;
    border: 1px solid #010110;
    border-radius: 1rem;
    width: 30%;
}

.card-img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.card-title{
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
}

.card-desc{
    font-family: "Lora" serif;
    font-style: italic;
    font-weight: 400;
    line-height: 1.4;
}

.image-container img{
     width: 80%;
}


.landing-container {
    background: linear-gradient(135deg, #141e30, #243b55); /* Two-color theme */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6); /* Dark overlay */
    color: white;
}

.h-lan {
    font-size: 3rem;
}

.p-lan {
    font-size: 1.5rem;
}

.btn-lan {
    background-color: #ff7e5f;
    border-color: #ff7e5f;
}

.btn-lan:hover {
    background-color: #ff4b1f;
    border-color: #ff4b1f;
}

.btn-lan-log:hover {
    background-color: #ffffff;
    color: #141e30;
}

.back-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    text-decoration: none;
}

.back-button:hover {
    opacity: 0.8;
}